type hal_fingerprint_X682C, domain;
hal_client_domain(hal_fingerprint_X682C, hal_fingerprint)
hal_server_domain(hal_fingerprint_X682C, hal_fingerprint)

type hal_fingerprint_X682C_exec, system_file_type, exec_type, file_type;
init_daemon_domain(hal_fingerprint_X682C)

binder_call(hal_fingerprint_X682C, hal_fingerprint_X682C)
